body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F8FF;
}

/* Start Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow-x: scroll;
}

.sidebar.closed {
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #e8f0fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #0056b3;
}

/* .sidebar ul li a.active {
    background-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #fff;
} */

.sidebar ul li a i {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.sidebar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar h3 {
    font-size: 18px;
    color: #007bff;
    margin: 0;
}

.menu-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    display: block;
}
/* Close Sidebar */

/* Start Header */
.header {
    height: 60px;
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 1001;
    transition: left 0.3s ease, width 0.3s ease;
}

.header.closed {
    left: 0;
    width: 100%;
}

.header .toggle-btn {
    font-size: 24px;
    cursor: pointer;
}

.header .profile {
    display: flex;
    align-items: center;
}

.header .profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
/* Close Header */

/* Start content */
.content {
    margin-top: 70px;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.closed {
    margin-left: 0;
}

.row {
    margin: 0 auto;
}

.card-header {
    padding: 0.75rem 1.25rem;
    white-space: normal;
}

.card-header span {
    font-size: 0.9rem;
    
}
/* Close Content */

.login-terakhir {
    font-size: 0.9em;
    color: #6c757d;
    padding-left: 15px;
}

/* Start Card */
.card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-status {
    width: 100px;
    font-size: 0.8rem;
    padding: 5px 0;
}

/* Close Card */

/* Css unutk detail class */
.transition-card {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.transition-card:hover {
    transform: scale(1.05);
    background-color: #f7f0fa;
}

/* Container switch */
.custom-switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    position: relative;
}

/* Input checkbox (hidden) */
.custom-switch-input {
    display: none;
}

/* Slider */
.custom-switch-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Circle inside slider */
.custom-switch-label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* Toggle effect */
.custom-switch-input:checked+.custom-switch-label {
    background-color: #8A2BE2;
}

.custom-switch-input:checked+.custom-switch-label::before {
    transform: translateX(25px);
}
/* Toggle effect */

/* Responsive */
@media (max-width: 768px) and (max-width: 1200px) {
    .sidebar {
        width: 200px;
    }

    .sidebar.closed {
        transform: translateX(-200px);
    }

    .header {
        left: 200px;
        width: calc(100% - 200px);
    }

    .header.closed {
        left: 0;
        width: 100%;
    }

    .content {
        margin-left: 0;
    }

    .content.closed {
        margin-left: 0;
    }
    
}